<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>portfolio</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{%static 'portfolio/CSS.css'%}">
  <link rel="icon" type="image/png" href="{% static "portfolio/images/Logo.png" %}">
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-expand-md navbar-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static "portfolio/images/Logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="usama's logo">
            <span>usama shehab</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% static "portfolio/images/resume.pdf" %}">Resume</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/usama-shehab-5025aa1a6/" target="_blank">LinkedIn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/usama.shehab.792/" target="_blank">Facebook</a>
              </li>
              <li>
                <a role="button" href="{% url 'blog:blog' %}" class="btn btn-primary">Blog</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  {% block content %}
  {%endblock%}


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
